
<div class="sections-wrapper">
  {{> sections/core-modules}}
  {{> sections/how-it-works}}
  {{> sections/user-roles}}
  {{> sections/solutions-by-level}}
  {{> sections/who-we-help}}
  {{> sections/home-cta}}
</div>
